
.ocultar{
    display: none;
}

.caja{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 15px;
}

.sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}